<h1>About Berlin Bikes</h1>
<p>Berlin Bikes has been creating custom crafted bicycles for over two hundred years. Quality and craftsmanship have driven this family business since the beginning.  Carbon fiber may have replaced copper, and clips may have replaced straps, but when you shop with us you're still getting an authentic Berlin Bike. </p>
